<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexApplePay">
         <method name="canMakePayment"></method>
         <method name="startPay"></method>
         <method name="commitShippingMethodChange"></method>
         <method name="commitShippingContactChange"></method>
         <method name="commitPaymentMethodChange"></method>
         <method name="commitAuthorizedResult"></method>
         <method name="startChinaUnionPay"></method>
         <method name="addButton"></method>
         <method name="removeButton"></method>
    </plugin>
</uexplugins>
